/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background:url(./assets/complete.png) no-repeat center center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 40px 20px;
  color: #333;
}

.app {
  background: #f4f6f8;
  max-width: 1000px;
  width: 100%;
  padding: 32px 36px;
  border-radius: 16px;
  box-shadow: 0 12px 24px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h1 {
  font-weight: 600;
  font-size: 28px;
  color: #222;
  margin: 0;
  user-select: none;
}

.input-container {
  background-color: #3f2f01;
  display: flex;
  gap: 12px;
}

.input-container input {
  flex: 1;
  padding: 14px 16px;
  font-size: 16px;
  border: 1.5px solid #fbfbfc;
  border-radius: 12px;
  transition: border-color 0.25s ease;
}

.input-container input:focus {
  outline: none;
  border-color: #f4f3f0;
  box-shadow: 0 0 6px rgba(79, 70, 229, 0.5);
}

.input-container button {
  background: #080707d5;
  border: none;
  padding: 14px 22px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.25s ease;
  user-select: none;
}

.input-container button:hover {
  background: #413501;
}

.todo-list {
  list-style: none;
  padding: 0px 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}


.todo-list-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.todo-list-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.todo-list li {
  background: #e1e1e0;
  border-radius: 14px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(8, 8, 8, 0.05);
  transition: box-shadow 0.25s ease, transform 0.15s ease;
  user-select: none;
}

.todo-list li:hover {
  box-shadow: 0 8px 14px rgba(0,0,0,0.1);
  transform: translateY(-2px);
}

.todo-list li.completed span {
  text-decoration: line-through;
  color: #fff;
  font-style: italic;
}

.todo-list li span {
  cursor: pointer;
  flex-grow: 1;
  font-weight: 500;
  font-size: 17px;
  user-select: text;
}

.todo-list li button {
  background: transparent;
  border: none;
  font-size: 22px;
  color: #ef4444;
  cursor: pointer;
  transition: color 0.3s ease;
}

.todo-list li button:hover {
  color: #0f0e0e;
}
